In [1]:
import pandas as pd

## Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
l=[4,8,15,16,23,42]
pd.Series(l)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

## Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [3]:
var_list=[12,23,45,45,11,22,90,87,56,54]
pd.Series(var_list)

0    12
1    23
2    45
3    45
4    11
5    22
6    90
7    87
8    56
9    54
dtype: int64

## Q3. Create a Pandas DataFrame that contains the following data:

In [4]:
Data={"Name":["Alice","Bob","Claire"],
      "Age":[25,30,27],
      "Gender":["Female","Male","Female"]
     }
df=pd.DataFrame(Data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

## Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

DataFrame:

1. A DataFrame is a 2-dimensional labeled data structure with columns that can be of different types (like a spreadsheet or SQL table).
2. It contains multiple rows and columns, and each column in a DataFrame is a Pandas Series.

Series:
1. A Series is a 1-dimensional array that holds data of any type along with an index.
2. It is essentially a single column of a DataFrame.

## Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Canyou give an example of when you might use one of these functions?

### Common functions to manipulate data in a Pandas DataFrame include:

* head() and tail(): View the first and last n rows.
* describe(): Get summary statistics.
* groupby(): Group data by a certain column and apply aggregate functions.
* apply(): Apply a function to each element of a DataFrame.
* drop(): Remove rows or columns.
* merge(): Combine DataFrames based on keys.
* pivot(): Reshape data (similar to pivot tables in Excel).

In [5]:
Data={"Name":["Alice","Bob","Claire"],
      "Age":[25,30,27],
      "Gender":["Female","Male","Female"]
     }
df=pd.DataFrame(Data)
max_age=df.groupby("Age")['Name'].max()
print(max_age)

Age
25     Alice
27    Claire
30       Bob
Name: Name, dtype: object

## Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
Ans: Both Series and DataFrame are mutable, meaning their values can be changed. Panel, however, has been deprecated in Pandas as of version 1.0.0, so you should use multi-index DataFrames instead.

## Q7. Create a DataFrame using multiple Series. Explain with an example.

In [6]:
name_series = pd.Series(['Alice', 'Bob', 'Claire'])
age_series = pd.Series([25, 30, 27])
gender_series = pd.Series(['Female', 'Male', 'Female'])
df = pd.DataFrame({
    'Name': name_series,
    'Age': age_series,
    'Gender': gender_series
})
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female